body{
    background-color: rgb(145, 100, 43);
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    padding: 10px;
    display: inline;
}
button{
    border-radius: 5px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}
table {
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(228, 105, 105) url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }
 td, th {
    background: rgb(230, 36, 36);
    color: rgb(250, 246, 246);
 }
